<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seed Crack</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var socket = io.connect('http://' + document.domain + ':' + location.port);
    
            // Listen for the 'wallets_updated' event
            socket.on('wallets_updated', function (data) {
                // Update the wallets on the page without refreshing
                updateWallets(data.wallets);
            });
    
            function updateWallets(wallets) {
                var walletsContent = document.querySelector('.wallets-content');
    
                // Clear existing content
                walletsContent.innerHTML = '';
    
                // Add new wallets
                wallets.forEach(function (wallet) {
                    var walletDiv = document.createElement('div');
                    walletDiv.className = 'wallet';
    
                    walletDiv.innerHTML = `
                        <p><strong>Seed Phrase:</strong> ${wallet.Seed}</p>
                        <p><strong>Wallet Address:</strong> ${wallet['Wallet Address']}</p>
                    `;
    
                    walletsContent.appendChild(walletDiv);
                });
            }
        });
    </script>
</head>
<body>
    <header>
        {{ header }}
    </header>

    <form onsubmit="return startCracking()">
        <button type="submit">Generate</button>
    </form>

    <section>
        <h2>Imported Wallets</h2>
        <div class="wallets-content">
            {% for wallet in content %}
                <div class="wallet">
                    <p><strong>Seed Phrase:</strong> {{ wallet.Seed }}</p>
                    <p><strong>Wallet Address:</strong> {{ wallet['Wallet Address'] }}</p>
                </div>
            {% endfor %}
        </div>
    </section>
</body>
</html>
